@import "~preact-material-components/TextField/mdc-text-field";

.mdc-floating-label {
  user-focus: ignore;
  pointer-events: none;
}

.mdc-notched-outline {
  pointer-events: none;
}

.mdc-notched-outline__idle {
  pointer-events: none;
}

//noinspection CssOverwrittenProperties
.preact-mwc-styled--text-with-helper > .mdc-text-field {
  width: 100%;
  //noinspection CssInvalidPropertyValue
  width: stretch;
}
