@import "~@material/textfield/mdc-text-field";
@import "~@material/notched-outline/mdc-notched-outline";

.mdc-floating-label {
  user-focus: ignore;
  -moz-user-focus: ignore;
  pointer-events: none;
}

.mdc-notched-outline {
  pointer-events: none;
}

.mdc-notched-outline__idle {
  pointer-events: none;
}
